<%= form_for(@record, :html => {:multipart => true, :id => "record-form"}) do |f| %>
  
  <table  class="form-table"><tbody>

    <tr>
      <th><%= f.label :address, '住所' %></th>
      <td id="address-field-area">
    〒<%= f.text_field :zip_code, :size=>8 %><br />
    【都道府県】<%= f.text_field :address_pref, :size=>5 %>　
    【市町村】<%= f.text_field :address_city, :size=>8 %><br />
    【町域番地】<%= f.text_field :address_area, :size=>15 %>　
    【建物名称等】<%= f.text_field :address_else, :size=>15 %>　
      </td>
    </tr>
    <tr>
      <th><%= f.label :price, '価格' %></th>
      <td>
        <%= f.number_field :price, "data-role" => "none" %>
      </td>
    </tr>

    <tr>
      <th><%= f.label :description, "備考" %></th>
      <td >
        <%= f.text_area :description, :size => "40x5", "data-role" => "none" %>
      </td>
    </tr>
  </tbody></table>

<% end %>

