<%= form_tag '', multipart: true, id: "facility-form", method: (@facility.new_record? ? :post : :put) do %>

  
  <table  class="table"><tbody>

    <tr>
      <th>施設名</th>
      <td>
        <%= hidden_field_tag 'facility[name]', 0 %>
        <%= text_field_tag 'facility[name]', @facility.name %>
      </td>
    </tr>
    <tr>
      <th>物件からの距離（ｍ）</th>
      <td>
        <%= hidden_field_tag 'facility[distance]', 0 %>
        <%= text_field_tag 'facility[distance]', @facility.distance %>メートル
      </td>
    </tr>

  </tbody></table>
    <div class="actions">
    <%= submit_tag '登録' %>
  </div>

<% end %>

