<!DOCTYPE html>

<html xmlns=”http://www.w3.org/1999/xhtml”
xmlns:svg=”http://www.w3.org/2000/svg”
xmlns:xlink=”http://www.w3.org/1999/xlink”>
<head>
  <title><%= Tpd::AppConfig.value("title") %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
  <%= javascript_include_tag "admin/application" %>
  <%= stylesheet_link_tag    "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "admin/layouts/nav" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12 pull-md-9 bd-content">
    </div>
    
    <div class="col-xs-12 col-md-12 push-md-3 bd-content ">
<%= yield %>
    </div>
  </div>
</div>


</body>
</html>
